@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #1a1a1a;
  --headingBorder: rgba(0, 0, 0, 0.34);
  --authorDate: #6941C6;
  --footerBackground: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  /* Category colors */
  --categoryBg1: #F0F9FF;
  --categoryFg1: #026AA2;
  --categoryBg2: #FDF2FA;
  --categoryFg2: #C11574;
  --categoryBg3: #ECFDF3;
  --categoryFg3: #027A48;
  --categoryBg4: #F9F5FF;
  --categoryFg4: #6941C6;
  --categoryBg5: #EEF4FF;
  --categoryFg5: #3538CD;
  --categoryBg6: #FFF6ED;
  --categoryFg6: #C4320A;
}

.dark_mode {
  --background: #1a1a1a;
  --foreground: #fff;
  --headingBorder: rgba(255, 255, 255);
  --footerBackground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fff;
    --headingBorder: rgba(255, 255, 255);
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  --fontSize1: 1rem;
  --fontSize2: 1.25rem;
  --fontSize3: 1.5rem;
  --fontSize4: 1.75rem;
  --fontSize5: 2rem;
  --fontSize6: 2.25rem;
  --fontSize7: 3rem;
  --fontSize8: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.LightRound {
  fill: var(--background);
}

body.dark_mode button.theme {
  display: flex;
  flex-direction: row-reverse;
  animation-delay: 0.25s;
  transition: all 0.25s ease;
}

body.light_mode button.theme svg:first-child {
  animation: rotate 0.5s ease-in-out;
}

body.light_mode button.theme svg:last-child {
  animation: rotate 0.5s ease-in-out;
}

body.dark_mode button.theme svg.sun-and-moon>.sun-beams,
body.dark_mode button.theme svg.sun-and-moon>.sun {
  opacity: 0;
  animation: rotate 0.5s ease-in-out;
}

.sun {
  stroke: var(--background);
  fill: var(--foreground);
}

.sun-beams {
  stroke: var(--background);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Joedit editor, some unorder-list not working */
.jodit-wysiwyg ul,
.jodit-dialog__content ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 20px 10px;
}

.jodit-wysiwyg ul ul,
.jodit-dialog__content ul ul {
  list-style-type: circle;
}

.jodit-wysiwyg ul ul ul,
.jodit-dialog__content ul ul ul {
  list-style-type: square;
}

.jodit-wysiwyg ol,
.jodit-dialog__content ol {
  list-style-type: decimal;
  padding-left: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.jodit-wysiwyg ol ol,
.jodit-dialog__content ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.jodit-wysiwyg td,
.jodit-dialog__content td {
  border: solid 1px;
}

.jodit-wysiwyg h1,
.jodit-dialog__content h1 {
  font-size: large;
}

.jodit-wysiwyg h1,
.jodit-dialog__content h1,
.jodit-wysiwyg h2,
.jodit-dialog__content h2,
.jodit-wysiwyg h3,
.jodit-dialog__content h3,
.jodit-wysiwyg h4,
.jodit-dialog__content h4 {
  margin: 0.1rem 0;
}

.jodit-wysiwyg h1,
.jodit-dialog__content h1 {
  font-size: 2rem;
}

.jodit-wysiwyg h2,
.jodit-dialog__content h2 {
  font-size: 1.5rem;
  padding-left: 20px;
}

.jodit-wysiwyg h3,
.jodit-dialog__content h3 {
  font-size: 1.2rem;
  padding-left: 40px;
}

.jodit-wysiwyg h4,
.jodit-dialog__content h4 {
  font-size: 1rem;
  font-style: italic;
  padding-left: 60px;
}