.container{
    max-width: 1280px;
    margin: 3rem auto;
}
.container h2{
    margin-left: 2rem;
}
.postContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    margin: 2rem;
}

@media screen and (max-width:912px) {
    .postContainer{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width:668px){
    .postContainer{
        display: grid;
        grid-template-columns: repeat(1,  auto);
        gap: 2rem;
        margin-top: 2rem;
    }
}