.container {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 99;
  transition: all 0.25s ease;
  box-shadow: 0 0 10px rgba(18, 21, 26, 0.039);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  align-items: center;
  height: 170px;
  background-color: var(--background);

}

.linksButtons {
  display: flex;
  max-width: 700px;
  flex-basis: 100%;
  justify-content: space-around;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  column-gap: 2rem;
  gap: 2rem;
}

.humberger {
  position: absolute;
  display: none;
  top: 76px;
  right: 88px;
  width: 30px;
  right: 32px;
  height: 20px;
  z-index: 103;
  cursor: pointer;
  transition: right 0.25s ease-in-out;
}

.humberger span {
  display: block;
  position: absolute;
  background-color: var(--foreground);
  ;
  height: 3px;
  width: 26px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.35s ease-in-out;
}

.humberger::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  height: 3px;
  width: 22px;
  background-color: var(--foreground);
  ;
  right: 0;
}

.humberger::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: var(--foreground);
  ;
  right: 0;
}

.humberger.open span {
  opacity: 0;
}

.humberger.open::before,
.humberger.open::after {
  width: 30px;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
}

.humberger.open::before {
  transform: rotate(-45deg) translateY(12px);
}

.humberger.open::after {
  transform: rotate(45deg) translateY(-12px);
}

@media screen and (max-width: 712px) {
  .humberger {
    display: block;
    top: 35px;
  }

  .linksButtons {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    right: -200%;
    transition: right 0.5s ease-in-out;
    justify-content: space-around;
    padding-top: 85px;
    flex-basis: unset;
    width: 50vw;
    min-width: 350px;
    max-width: 750px;
    background-color: var(--background);
    ;
    box-shadow: 0 0 10px rgba(175, 175, 175, 0.3);
  }

  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    gap: 2rem;
    font-size: var(--fontSize3);
  }

  .linksButtons.open {
    right: 0;
  }

  .nav {
    height: 100px;

  }

}