.container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.image {
    width: 100%;
    position: unset !important;
}

.image img{
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    border-radius: 4px;
    height: 200px !important;
}
.contents{
    max-width: 600px;
}
.title, .excerpts, .categories{
    margin-top: 1.5rem;
}
.authorDate{
    color: var(--authorDate);
}
.categories span{
    padding: 2px 10px 2px 10px;
    border-radius: 1rem;
}
.categories span:not(:first-child){
    margin: 0 1rem;
}